<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소 추가</title>
    <link rel="stylesheet" href="/static/addPlace.css">
</head>
<body>
<header>
    <h1>장소 추가</h1>
</header>
<main>
    <form id="addPlaceForm">
        <label for="placeName">장소 이름</label>
        <input type="text" id="placeName" name="placeName" required>

        <label for="placeType">장소 유형</label>
        <input type="text" id="placeType" name="placeType" required>

        <label for="placePrice">가격</label>
        <input type="number" id="placePrice" name="placePrice" required>

        <button type="submit">추가</button>
    </form>
</main>
<footer>
    <p>장소를 추가해 주셔서 감사합니다! 여러분의 업데이트는 우리 서비스의 품질을 높이는 데 큰 도움이 됩니다.</p>
    <p>첫 등록 고객에게는 2배의 포인트를 드립니다!</p>
    <p>추가된 장소는 심사를 거쳐 반영됩니다.</p>
</footer>
<script src = "/addPlace.js" defer></script>
</body>
</html>
